@model IEnumerable<WEINCDENTAL.Models.hst_basvuru>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.t_basvuru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_basvurutarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_cagriekraniistem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_basvurudr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_taburcu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_createdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_createuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_aktif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hst_bölüm.t_adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hst_hastakarti.t_adi)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.t_basvuru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_basvurutarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_cagriekraniistem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_basvurudr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_taburcu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_createuser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_aktif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hst_bölüm.t_adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hst_hastakarti.t_adi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.t_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.t_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.t_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
