@model WEINCDENTAL.Models.hst_hastakarti

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>hst_hastakarti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.t_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_dogumtarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_dogumtarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_dogumyeri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_dogumyeri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_createuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_createuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_createdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_cinsiyet.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_cinsiyet.t_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_il.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_il.t_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_ilce.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_ilce.t_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_medenidurum.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_medenidurum.t_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_ulke.BinaryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_ulke.BinaryCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.t_tc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
