@model IEnumerable<WEINCDENTAL.Models.View_HizmetDetay>

<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-4" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
   
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Önceki Hizmet Bilgileri</h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer">
                <!-- start widget head search-->
                <div class="dt-toolbar no-padding">
                </div>

                <!-- end widget head search -->
                <table id="dt_basic3_2" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <!-- HEAD BAŞLANGICI -->
                            <th data-hide="phone,tablet" class="sorting_asc" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column ascending" style="width: 30px;"><i class="fa fa-fw fa-key text-muted hidden-md hidden-sm hidden-xs"></i> Başvuru Numarası</th>
                            <th data-class="expand" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label="Company: activate to sort column ascending" style="width: 50px;"><i class="fa fa-fw fa-key text-muted hidden-md hidden-sm hidden-xs"></i> T.C.</th>
                            <th data-class="expand" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label="Company: activate to sort column ascending" style="width: 50px;"><i class="fa fa-fw fa-key text-muted hidden-md hidden-sm hidden-xs"></i> Diş Kodu</th>
                            <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label=" Phone: activate to sort column ascending" style="width: 100px;"><i class="fa fa-hospital-o text-muted hidden-md hidden-sm hidden-xs"></i> Hizmet Adı</th>
                            <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label=" Phone: activate to sort column ascending" style="width: 100px;"><i class="fa fa-hospital-o text-muted hidden-md hidden-sm hidden-xs"></i> Çene Durumu</th>
                            <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label=" Name: activate to sort column ascending" style="width: 50px;"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Hizmet Tarihi</th>
                            <th data-class="expand" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column ascending" style="width: 30px;"><i class="fa fa-fw  fa-stethoscope text-muted hidden-md hidden-sm hidden-xs"></i> Baş.Yapan Doktor</th>
                            <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label=" Phone: activate to sort column ascending" style="width: 100px;"><i class="fa fa-money text-muted hidden-md hidden-sm hidden-xs"></i>Birim Fiyat</th>
                            <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label=" Phone: activate to sort column ascending" style="width: 100px;"><i class="fa fa-money text-muted hidden-md hidden-sm hidden-xs"></i>Toplam Tutar</th>
                            <th data-hide="phone,tablet" class="sorting" tabindex="0" aria-controls="dt_basic3_2" rowspan="1" colspan="1" aria-label=" Date: activate to sort column ascending" style="width: 50px;"><i class="fa fa-edit text-muted hidden-md hidden-sm hidden-xs"></i> İşlem Yap</th>
                            <!-- HEAD BİTİŞİ -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- BODY BAŞLANGICI -->
                        @if (Model != null || Model.Count() != 0)
                        {
                            foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BasvuruId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DisNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HizmetAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CeneAdi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hizmet_Tarih)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DoktorAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.t_fiyat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToplamBorc)
                            </td>
                            <td>
                                <a onclick="Remove('@item.HizHareketId', '@item.HizmetAd', '@item.DisNo')" class="btn btn-labeled btn-danger">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </span>Sil
                                </a>
                            </td>


                        </tr>

                            }
                        }







                        <!-- BODY BİTİŞİ -->
                    </tbody>
                </table>
                <!-- start widget footer -->
                <div class="dt-toolbar-footer no-padding">

                </div>
                <!-- end widget footer -->
            </div>

        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
<!-- Widget ID (each widget will need unique ID)-->


<script src="~/Scripts/Remove.js"></script>
<script type="text/javascript">

    
    $(document).ready(function () {

        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;
        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $('#dt_basic3_2').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic =
                        new ResponsiveDatatablesHelper($('#dt_basic3_2'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            }
        });

        

    });
</script>

