@model WEINCDENTAL.Models.View_GroupYetki

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>View_GroupYetki</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.t_kid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.t_kid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.t_kid, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.t_kodu)

        @Html.HiddenFor(model => model.YM_Id)

        @Html.HiddenFor(model => model.YetkiId)

        @Html.HiddenFor(model => model.MethodId)

        @Html.HiddenFor(model => model.GroupId)

        @Html.HiddenFor(model => model.groupAd)

        @Html.HiddenFor(model => model.YetkiAdi)

        @Html.HiddenFor(model => model.YetkiAciklama)

        @Html.HiddenFor(model => model.GorunecekIsim)

        @Html.HiddenFor(model => model.MethodName)

        @Html.HiddenFor(model => model.ControllerName)

        @Html.HiddenFor(model => model.UserGroupAktif)

        @Html.HiddenFor(model => model.YetkiAktif)

        @Html.HiddenFor(model => model.UserAktif)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
