@model WEINCDENTAL.Models.hst_his_hareket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>hst_his_hareket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.t_islemtarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_islemtarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_diskodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_diskodu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_parca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_parca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_yetiskinmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_yetiskinmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_odemevarmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_odemevarmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_createuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_createuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_createdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_basvuru.t_basvuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_basvuru.t_basvuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_cene_uygunmu.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_cene_uygunmu.t_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_firma.t_fad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_firma.t_fad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_hizmet.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_hizmet.t_adi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
