@model IEnumerable<WEINCDENTAL.Models.hst_his_hareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.t_islemtarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_diskodu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_parca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_yetiskinmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_odemevarmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_createuser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_aktif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hst_basvuru.t_basvuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hst_cene_uygunmu.t_adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hst_firma.t_fad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hst_hizmet.t_adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.t_islemtarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_diskodu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_parca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_yetiskinmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_odemevarmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_createuser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_createdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_aktif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hst_basvuru.t_basvuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hst_cene_uygunmu.t_adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hst_firma.t_fad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hst_hizmet.t_adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.t_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.t_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.t_id })
        </td>
    </tr>
}

</table>
