
@{
    ViewBag.Title = "Diş Hizmet Girişi";
}
<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-bookmark"></i>
                Diş Hizmet Girişi
            </h1>
        </div>
    </div>

    <section id="widget-grid">
        <!-- row -->
        <div class="row">
            @Html.Action("DisModul", "HisHareket", new { @id = @ViewBag.bid })
            @Html.Action("ListHizmet", "hst_hizmet")
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div id="content">

                    <!-- widget grid -->
                    <section id="widget-grid" class="">

                        <!-- START ROW -->
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <div id="refNewTabl">
                                    @Html.Action("_NewHareket")
                                </div>

                                <div id="refreshtbl">
                                    @Html.Action("_DisHHareket", "View_HizmetDetay", new { @id = ViewBag.bid })
                                </div>

                            </article>
                            <!-- NEW COL START -->
                            <!-- END COL -->
                            <!-- NEW COL START -->

                        </div>
                        <!-- END ROW -->
                    </section>
                    <!-- end widget grid -->


                </div>


                <!-- your contents here -->
            </div>

        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

<div class="modal left fade" id="pacsGoruntule" tabindex="-1" role="dialog" aria-labelledby="pacsGoruntule" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="pacsGoruntuleList">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="ModalDisHizmet" tabindex="-1" role="dialog" aria-labelledby="ModalDisHizmet" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="loadDisHizmet">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/Scripts/Remove.js"></script>
<script src="~/Scripts/jquery/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/WeincdentalScript.js"></script>
<script type="text/javascript">
    var cuser = "@HttpContext.Current.User.Identity.Name";
    var list = [];
    var tblNo = 0;
    var secilenHizmet;
    var secilenDis;
    var hizmetAd;
    var hizmetFiyat;
    var bid = @Html.Raw(Json.Encode(ViewBag.bid));
    var tdhhtc = @Html.Raw(Json.Encode(ViewBag.tc));
    function SeciliHizmet(SHid, SHAd, SHFiyat) {
        secilenHizmet = SHid;
        hizmetAd = SHAd;
        hizmetFiyat = SHFiyat;
    }

    function SeciliDis(SDid) {
        secilenDis = SDid;
        if (secilenHizmet != null) {
            if (secilenDis == null) {
                $.smallBox({
                    title: "İPTAL",
                    content: "<i class='fa fa-clock-o'></i> <i>Seçili Diş getirilemedi...</i>",
                    color: "#C46A69",
                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                    timeout: 4000
                });
            } else {
                $.smallBox({
                    title: "OKAY",
                    content: "<i class='fa fa-clock-o'></i> <i>Seçili " + "Diş No : " + secilenDis + " Hizmet No : " + secilenHizmet + "</i>",
                    color: "#739E73",
                    iconSmall: "fa fa-thumbs-up bounce animated",
                    timeout: 4000
                });
                var result = TblEkle(list, tblNo, secilenDis, secilenHizmet, hizmetAd, hizmetFiyat, cuser, bid);

                list = result[0];
                tblNo = result[1];

            }
        } else {
            $.smallBox({
                title: "İPTAL",
                content: "<i class='fa fa-clock-o'></i> <i>Hizmet Seçmediniz...</i>",
                color: "#cc1818",
                iconSmall: "fa fa-times-circle bounce animated",
                timeout: 4000
            });
        }
    }

    
   
    $('table').on('click', '.RemoveRow', function () {
        //Some code
        alert("asd");
        var btnName = this.name;
        var number = parseInt(btnName);
        $(this).closest('tr').remove();
        // listeden eleman çıkarma..
        list.splice(number, 1);

    });
    function Gonder() {

        $.ajax({

           // async: true,
            type: "POST",
            data: JSON.stringify({ hst_his_hareket: list }),
            url: "../../hst_his_hareket/Create",
            contentType: "application/json",
            success: function(veri) {
                if (veri) {
                    $('#refreshtbl').load("@Url.Action("_DisHHareket", "View_HizmetDetay")", { id: @ViewBag.bid });
                    $('#refNewTabl').load("@Url.Action("_NewHareket")");
                    list = [];
                    tblNo = 0;
                 
                }

            },
            error: function () {
                // bu kısımda eğer ajax işlemi başarısız ise
                // hata mesajı verebiliriz.
                $.smallBox({
                    title: "HATA",
                    content: "<i class='fa fa-clock-o'></i> <i>Hizmet Eklenirken Bir Hata Meydana Geldi...</i>",
                    color: "#C46A69",
                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                    timeout: 2000
                });
            }

        });

    }
    function Remove(id, HAd, disNo) {
        $.holdReady(true);
        $.SmartMessageBox({
            title: "UYARI!",
            content: " Hizmet: " + HAd + "<div> Diş No: " + disNo + " olan hastanın hizmeti silinecektir.</div> <div><br></div><div>EMİN MİSİNİZ?</div>",
            buttons: '[No][Yes]'
        },
            function (ButtonPressed) {
                if (ButtonPressed === "Yes") {
                    var rslt = HizmetRemove(id);
                    if (rslt) {

                        $('#refreshtbl').load("@Url.Action("_DisHHareket", "View_HizmetDetay")", { id: @ViewBag.bid });
                    }


                }
                if (ButtonPressed === "No") {
                    $.smallBox({
                        title: "İPTAL",
                        content: "<i class='fa fa-clock-o'></i> <i>Silme işleminden vazgeçildi...</i>",
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 4000
                    });
                }

            });
    }

    $("#pacs").mousedown(function (event) {
        switch (event.which) {
            case 2:
                $("#dt_basic3_3").dataTable().fnDestroy();
                $("#pacsGoruntule").modal('show');
        }
    });
  

   // mousedown
    $("#dishizmet").on('mousedown','button', function (event) {
        switch (event.which) {
            case 3:
                var disNo = this.id;
                    
                        LoadDisHizmet(disNo);
        }
    });

    function LoadDisHizmet(getdis) {
        $("#dt_basic3_3").dataTable().fnDestroy();
        $('#loadDisHizmet').load("@Url.Action("_TEKDisHHareket", "View_HizmetDetay")", { tc: tdhhtc , dis: getdis});
        $("#ModalDisHizmet").modal('show');
    }

</script>

