@using WEINCDENTAL.Controllers

@{
    ViewBag.Title = "Diş Hizmet Girişi";
}
<!-- MAIN CONTENT -->



<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-bookmark"></i>
                Diş Hizmet Girişi
            </h1>

            <fieldset class="col-lg-push-3 padding-bottom-2">
                <div class="btn-group btn-group-justified" data-toggle="buttons" style="width: 25%;">
                    <label class="ddisCene-btn1 btn btn-default dCene">
                        <input type="checkbox" id="chckDis" name="cene" value="1" />
                    </label>
                    <label class="ddisCene-btn2 btn btn-default dCene padding-left-5">
                        <input type="checkbox" id="chckDis" name="cene" value="2" />
                    </label>
                </div>
            </fieldset>

            <fieldset class="col-lg-push-3">
                <div class="btn-group btn-group-justified" data-toggle="buttons" style="width: 25%;">
                    <label class="ddisCene-btn3 btn btn-default dCene">
                        <input type="checkbox" id="chckDis" name="cene" value="3">
                    </label>
                    <label class="ddisCene-btn4 btn btn-default dCene padding-left-5">
                        <input type="checkbox" id="chckDis" name="cene" value="4">
                    </label>
                </div>
            </fieldset>


            <br />
                <br />
                <br />

        </div>
    </div>

    <section id="widget-grid">
        <!-- row -->
        <div class="row">
            @Html.Action("DisModul", "HisHareket", new { @id = @ViewBag.bid })
            @Html.Action("ListHizmet", "hst_hizmet")
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div id="content">

                    <!-- widget grid -->
                    <section id="widget-grid" class="">

                        <!-- START ROW -->
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <div id="refNewTabl">
                                    @Html.Action("_NewHareket")
                                </div>

                                <div id="refreshtbl">
                                    @Html.Action("_DisHHareket", "View_HizmetDetay", new { @id = ViewBag.bid })
                                </div>

                            </article>
                            <!-- NEW COL START -->
                            <!-- END COL -->
                            <!-- NEW COL START -->

                        </div>
                        <!-- END ROW -->
                    </section>
                    <!-- end widget grid -->


                </div>


                <!-- your contents here -->
            </div>

        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

<div class="modal left fade" id="pacsGoruntule" tabindex="-1" role="dialog" aria-labelledby="pacsGoruntule" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="pacsGoruntuleList">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="ModalDisHizmet" tabindex="-1" role="dialog" aria-labelledby="ModalDisHizmet" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="loadDisHizmet">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<style type="text/css">

    .dCene {
        padding: 1px 1px;
        height: 37px;
        cursor: pointer;
        border: none;
        background-position: center;
    }

    .btn-group-justified > .ddisCene-btn1 {
        background-image: url("/Content/klinikImage/disImage/cene/SAGUST.png");
        background-repeat: no-repeat;
    }

    .btn-group-justified > .ddisCene-btn2 {
        background-image: url("/Content/klinikImage/disImage/cene/SOLUST.png");
        background-repeat: no-repeat;
    }

    .btn-group-justified > .ddisCene-btn3 {
        background-image: url("/Content/klinikImage/disImage/cene/SAGALT.png");
        background-repeat: no-repeat;
    }

    .btn-group-justified > .ddisCene-btn4 {
        background-image: url("/Content/klinikImage/disImage/cene/SOLALT.png");
        background-repeat: no-repeat;
    }

    .ddisCene-btn:focus {
        color: #fff;
        box-shadow: 0 0 0 0.3rem rgba(40,167,69,.5);
        background-color: rgba(40,167,69,.5);
        border-color: rgba(40,167,69,.5);
    }

    .btn-group-justified > .dCene:hover {
        color: #fff;
        background-color: rgba(40,167,69,.5);
        border-color: #28a745;
    }

    .btn-group-justified > .btn.active {
        color: #fff;
        background-color: rgba(40,167,69,.5);
        box-shadow: 0 0 0 0.3rem rgba(40, 167, 69, .5);
    }
</style>
<script src="~/Scripts/Remove.js"></script>
<script src="~/Scripts/WeincdentalScript.js"></script>
<script type="text/javascript">

    var yas =@Ortak._hastayas;
    var yetiskin = true;
    if (yas < 18) {
        yetiskin = false;
    }
    var cuser = "@HttpContext.Current.User.Identity.Name";
    var list = [];
    var tblNo = 0;
    var secilenHizmet;
    var secilenDis;
    var secilenCene1 = 0;
    var secilenCene2 = 0;
    var secilenCene3 = 0;
    var secilenCene4 = 0;
    var secilenCene = 0;
    var secilenCeneAD = "";
    var hizmetAd;
    var hizmetFiyat;
    var bid = @Html.Raw(Json.Encode(ViewBag.bid));
    var tdhhtc = @Html.Raw(Json.Encode(ViewBag.tc));
    $(document).ready(function () {

        TblRemove();

        $(":checkbox").change(function () {
            var deger=0;
            if (this.checked) {
                 deger=this.value;
                if (deger == 1) {
                    secilenCene1 = deger;
                } else if (deger == 2) {
                    secilenCene2 = deger;
                } else if (deger == 3) {
                    secilenCene3 = deger;
                } else if (deger == 4) {
                    secilenCene4 = deger;
                }
            } else {
                deger = this.value;
                if (1 == deger) {
                    secilenCene1 = 0;
                } else if (2 == deger) {
                    secilenCene2 = 0;
                } else if (3 == deger) {
                    secilenCene3 = 0;
                } else if (4 == deger) {
                    secilenCene4 = 0;
                }

            }


        });

        $("#pacs").mousedown(function (event) {
            switch (event.which) {
            case 2:
                $("#dt_basic3_3").dataTable().fnDestroy();
                $("#pacsGoruntule").modal('show');
            }
        });

        // mousedown
        $("#dishizmet").on('mousedown','button', function (event) {
            switch (event.which) {
            case 3:
                var disNo = this.id;

                LoadDisHizmet(disNo);
            }
        });

        function LoadDisHizmet(getdis) {
            $("#dt_basic3_3").dataTable().fnDestroy();
            $('#loadDisHizmet').load("@Url.Action("_TEKDisHHareket", "View_HizmetDetay")", { tc: tdhhtc , dis: getdis});
            $("#ModalDisHizmet").modal('show');
        }

    });

    function SeciliHizmet(SHid, SHAd, SHFiyat) {
        secilenHizmet = SHid;
        hizmetAd = SHAd;
        hizmetFiyat = SHFiyat;
    }



    function SeciliDis(SDid) {
        secilenDis = SDid;
        if (secilenCene1 == 0 && secilenCene2 == 0 && secilenCene3 == 0 && secilenCene4 == 0) {
            secilenCene = 9;
            secilenCeneAD = "TEK DİŞ";
        } else if (secilenCene1 != 0 && secilenCene2 != 0 && secilenCene3 == 0 && secilenCene4 == 0) {
            secilenCene = 2;
            secilenCeneAD = "ÜST ÇENE";
        } else if (secilenCene1 == 0 && secilenCene2 == 0 && secilenCene3 != 0 && secilenCene4 != 0) {
            secilenCene = 3;
            secilenCeneAD = "ALT ÇENE";
        } else if (secilenCene1 != 0 && secilenCene2 == 0 && secilenCene3 == 0 && secilenCene4 == 0) {
            secilenCene = 6;
            secilenCeneAD = "SAĞ ÜST ÇENE";
        } else if (secilenCene1 == 0 && secilenCene2 != 0 && secilenCene3 == 0 && secilenCene4 == 0) {
            secilenCene = 5;
            secilenCeneAD = "SOL ÜST ÇENE";
        } else if (secilenCene1 == 0 && secilenCene2 == 0 && secilenCene3 != 0 && secilenCene4 == 0) {
            secilenCene = 8;
            secilenCeneAD = "SAĞ ALT ÇENE";
        } else if (secilenCene1 == 0 && secilenCene2 == 0 && secilenCene3 == 0 && secilenCene4 != 0) {
            secilenCene = 7;
            secilenCeneAD = "SOL ALT ÇENE";
        } else {
            secilenCene = 1;
            secilenCeneAD = "TÜM ÇENE";
        }
        if (secilenHizmet != null) {
            if (secilenDis == null) {
                $.smallBox({
                    title: "İPTAL",
                    content: "<i class='fa fa-clock-o'></i> <i>Seçili Diş getirilemedi...</i>",
                    color: "#C46A69",
                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                    timeout: 4000
                });
            } else {
                $.smallBox({
                    title: "OKAY",
                    content: "<i class='fa fa-clock-o'></i> <i>Seçili " + "Diş No : " + secilenDis + " Hizmet No : " + secilenHizmet +"</i>",
                    color: "#739E73",
                    iconSmall: "fa fa-thumbs-up bounce animated",
                    timeout: 4000
                });
                var result = TblEkle(list, tblNo, secilenDis, secilenHizmet, hizmetAd, hizmetFiyat, cuser, bid, secilenCene, secilenCeneAD, yetiskin);

                list = result[0];
                tblNo = result[1];
            }
        } else {
            $.smallBox({
                title: "İPTAL",
                content: "<i class='fa fa-clock-o'></i> <i>Hizmet Seçmediniz...</i>",
                color: "#cc1818",
                iconSmall: "fa fa-times-circle bounce animated",
                timeout: 4000
            });
        }
    }



    function Gonder() {

        $.ajax({
            type: "POST",
            data: JSON.stringify({ hst_his_hareket: list }),
            url: "../../hst_his_hareket/Create",
            contentType: "application/json",
            success: function(veri) {
                if (veri) {
                    var getdismodul = GetDisHareket(bid);
                    $('#refreshtbl').html(getdismodul);
                    var url = "../../Scripts/Remove.js";
                    $.getScript(url,
                        function() {
                            TblRemove();
                        });

                    var getnhizmet = GetNewHizmet();
                    $("#refNewTabl").html(getnhizmet);
                    var url2 = "../../Scripts/Remove.js";
                    $.getScript(url2,
                        function() {
                            TblRemove();
                        });
                    list = [];
                    tblNo = 0;


                } else {
                    $.smallBox({
                        title: "HATA",
                        content: "<i class='fa fa-clock-o'></i> <i>Hizmet Eklenirken Bir Hata Meydana Geldi...</i>",
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 2000
                    });
                }

            },
            error: function () {
                // bu kısımda eğer ajax işlemi başarısız ise
                // hata mesajı verebiliriz.
                $.smallBox({
                    title: "HATA",
                    content: "<i class='fa fa-clock-o'></i> <i>Hizmet Eklenirken Bir Hata Meydana Geldi...</i>",
                    color: "#C46A69",
                    iconSmall: "fa fa-times fa-2x fadeInRight animated",
                    timeout: 2000
                });
            }

        });
        var url = "../../Scripts/Remove.js";
        $.getScript(url, function () {
            TblRemove();
        });
    }
    function Remove(id, HAd, disNo) {
        //$.holdReady(true);
        $.SmartMessageBox({
                title: "UYARI!",
                content: " Hizmet: " + HAd + "<div> Diş No: " + disNo + " olan hastanın hizmeti silinecektir.</div> <div><br></div><div>EMİN MİSİNİZ?</div>",
                buttons: '[No][Yes]'
            },
            function (ButtonPressed) {
                if (ButtonPressed === "Yes") {
                    var rslt = HizmetRemove(id);
                    if (rslt) {
                        var getdismodul = GetDisHareket(bid);
                        $('#refreshtbl').html(getdismodul);
                        var url = "../../Scripts/Remove.js";
                        $.getScript(url,
                            function() {
                                TblRemove();
                            });
                    }


                }
                if (ButtonPressed === "No") {
                    $.smallBox({
                        title: "İPTAL",
                        content: "<i class='fa fa-clock-o'></i> <i>Silme işleminden vazgeçildi...</i>",
                        color: "#C46A69",
                        iconSmall: "fa fa-times fa-2x fadeInRight animated",
                        timeout: 4000
                    });
                }

            });
    }

</script>



