@model IEnumerable<WEINCDENTAL.Models.View_HastalikDurum>



<div class="row col-xs-8 col-sm-8 col-md-8 col-lg-8">


    <button class="btn btn-labeled btn-success" data-toggle="modal" data-target="#myModalCreateODurum">
        <span class="btn-label">
            <i class="glyphicon glyphicon-plus"></i>
        </span>
        Özel Durum Ekle
    </button>
</div>
<br />
<br />
<br />
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="refreshlist">


    @foreach (var item in Model)
    {
        <ul>

            <li>
                <span id="Hastalik">@Html.DisplayFor(modelItem => item.Hastalık)</span>  -  <a href="javascript:void(0);" onclick="LoadEdit(@item.t_id)" data-toggle="modal" @*data-target="#myModalEditODurum"*@>Düzenle</a>

            </li>
            <ul>
                <li>
                    <span id="Hastalik">AÇIKLAMA:</span> @Html.DisplayFor(modelItem => item.Aciklama)
                </li>

            </ul>

        </ul>
    }


</div>
<!-- Modal Özel Durum Ekle -->
<div class="modal fade" id="myModalCreateODurum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Özel Durum Ekle</h4>
            </div>
            <div class="modal-body">
                @Html.Action("HastaDPartialCreate", "hst_hastadurum", new { @id = @ViewBag.tc })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Özel Durum Düzenle -->
<div class="modal fade" id="myModalEditODurum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel2">Özel Durum Düzenle</h4>
            </div>
            <div class="modal-body" id="loadPartialEdit">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12 col-lg-12" data-dismiss="modal">
                    Kapat
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<style>
    #Hastalik {
        font-weight: bold;
    }
</style>

<script type="text/javascript">

    function LoadEdit(did) {
        $('#loadPartialEdit').load("@Url.Action("HDurumPartialEdit", "hst_hastadurum")", { id: did });
        $("#myModalEditODurum").modal('show');
    }


</script>