    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->
        <ul>
            <li class="@Html.RouteIf("Index", "active")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Ana Sayfa</span></a>
            </li>
            @*<li class="@Html.RouteIf("adm_kullanicilar", "active")">
            <a href="@Url.Action("Index", "adm_kullanicilar")"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Kullanıcılar</span></a>
        </li>
        <li class="@Html.RouteIf("adm_kullanicigrup", "active")">
            <a href="@Url.Action("Index", "adm_kullanicigrup")"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Kullanıcı Grup</span></a>
        </li>
            <li class="@Html.RouteIf("adm_modulyetki", "active")">
                <a href="@Url.Action("Index", "adm_modulyetki")"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Modül Yetki</span></a>
            </li>
            <li class="@Html.RouteIf("hst_hizmet", "active")">
                <a href="@Url.Action("Index", "hst_hizmet")"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Hizmetler</span></a>
            </li>*@
        @if (User.IsInRole("1") || User.IsInRole("2"))
        {
            <li class="@Html.RouteIf("hst_hastakarti", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-user"></i><span class="menu-item-parent">Hasta İşlemleri</span></a>
                <ul>

                    <li class="@Html.RouteIf("Create", "active")">
                        <a href="@Url.Action("Create", "hst_hastakarti")"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Hasta Kartı</span></a>
                    </li>
                    <li class="@Html.RouteIf("Hastakarti_Index", "active")">
                        <a href="@Url.Action("Hastakarti_Index", "hst_hastakarti")"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Hasta Bilgileri</span></a>
                    </li>
                    <li class="@Html.RouteIf("HastaBasvuruCreate", "active")">
                        <a href="@Url.Action("HastaBasvuruCreate", "hst_basvuru")"><i class="fa fa-lg fa-fw  fa-paperclip"></i> <span class="menu-item-parent">Hasta Başvuru</span></a>
                    </li>
                </ul>
            </li>
        }
            @*<li class="@Html.RouteIf("calendar", "active")">
            <a href="@Url.Action("calendar", "home")"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span class="menu-item-parent">Calendar</span></a>
        </li>*@
            @if (User.IsInRole("1")|| User.IsInRole("2"))
            {
                <li class="@Html.RouteIf("Ayarlar", "active")">
                    <a href="@Url.Action("Ayarlar", "Home")"><i class="fa fa-lg fa-fw fa-empire"></i> <span class="menu-item-parent">Ayarlar</span></a>
                </li>
            }
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->