@model  WEINCDENTAL.Models.ModelIstatistik
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                HOŞGELDİNİZ
            </h1>
        </div>


    </div>
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">@ViewBag.ay</span>
                        <h5> @ViewBag.yil - T.Yapılan Hizmet Bedeli (TL)</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@Html.DisplayFor(model => model.TotalGelir)</h1>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">@ViewBag.ay</span>
                        <h5> @ViewBag.yil - Toplam Nakit (TL)</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@Html.DisplayFor(model => model.TotalNakit)</h1>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">@ViewBag.ay</span>
                        <h5> @ViewBag.yil - Toplam K.Kart (TL)</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@Html.DisplayFor(model => model.TotalKKart)</h1>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">@ViewBag.ay</span>
                        <h5> @ViewBag.yil - Toplam Ödenecek (TL)</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@Html.DisplayFor(model => model.TotalOdenecek)</h1>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">@ViewBag.ay</span>
                        <h5> @ViewBag.yil - Yapılan Hizmet Sayısı (4 hizmet)</h5>
                    </div>
                    <div class="ibox-content">
                        <canvas id="pieChart" style="width: 100%; height: 100%;"></canvas>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>


</div>

<style type="text/css">
    .ibox {
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #2f4050;
        font-size: 13px;
        color: #676a6c;
        overflow-x: hidden;
        clear: both;
        margin-bottom: 25px;
        margin-top: 0;
        padding: 0;
    }

    .float-e-margins .btn {
        margin-bottom: 5px;
    }

    .ibox-title {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-color: #ffffff;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 3px 0 0;
        color: inherit;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 48px;
    }

    .ibox-content {
        clear: both;
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .no-margins {
        margin: 0 !important;
    }

    .ibox-title > span {
        float: left;
        margin-left: 4px;
        font-family: 'Open Sans';
        font-size: 12px;
        padding: 3px 9px;
    }

    .ibox-title h5 {
        display: inline-block;
        font-size: 14px;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        float: left;
    }
</style>

@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {

         var array =@Html.Raw(Json.Encode(ViewBag.hizlist));
            pageSetUp();

            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: "#fff",
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - types of animation
                animationEasing: "easeOutBounce",
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - Re-draw chart on page resize
                responsive: true,
                //String - A legend template
                legendTemplate:
                    "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
            };


            var pieData= [];
            array.forEach(function(element) {
                pieData.push({
                    "value": element.HSay,
                    "color": "",
                    "highlight": "",
                    "label": element.HAd
                });

            });
            pieData[0].color = "rgba(53,53,255,0.9)";
            pieData[0].highlight = "rgba(53,53,255,0.8)";

            pieData[1].color = "rgba(151,187,205,1)";
            pieData[1].highlight = "rgba(151,187,205,0.8)";

            pieData[2].color = "rgba(169, 3, 41, 0.7)";
            pieData[2].highlight = "rgba(169, 3, 41, 0.7)";

            pieData[3].color = "rgba(144,171,86,1)";
            pieData[3].highlight = "rgba(144,171,86,1)";


            // render chart
            var ctx = document.getElementById("pieChart").getContext("2d");
            var myNewChart = new Chart(ctx).Pie(pieData, pieOptions);


        });

    </script>
}