@model WEINCDENTAL.Models.View_HizHareket

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>View_HizHareket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.basvuruid)

        @Html.HiddenFor(model => model.t_tc)

        @Html.HiddenFor(model => model.t_adi)

        @Html.HiddenFor(model => model.t_soyadi)

        @Html.HiddenFor(model => model.BasvuruNo)

        @Html.HiddenFor(model => model.t_basvurutarihi)

        @Html.HiddenFor(model => model.Doktoradi)

        <div class="form-group">
            @Html.LabelFor(model => model.t_basvurudr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.t_basvurudr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.t_basvurudr, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.t_taburcu)

        @Html.HiddenFor(model => model.Hareketid)

        @Html.HiddenFor(model => model.t_hizmetkodu)

        @Html.HiddenFor(model => model.Hizmetadi)

        @Html.HiddenFor(model => model.t_fiyat)

        @Html.HiddenFor(model => model.t_islemtarihi)

        @Html.HiddenFor(model => model.Odemeyapildimi)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
