
@model WEINCDENTAL.Models.hst_basvuru

@{
    ViewBag.Title = "Başvuru Oluştur";
    Layout = null;
}

@using (Html.BeginForm("Create", "hst_basvuru", FormMethod.Post, new { @class = "smart-form" }))
{
    @Html.AntiForgeryToken()

<fieldset>
    <center><h4>Hasta Başvuru Oluştur</h4></center>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <br/>
    <br/>
    <br/>
    <div class="row">
        @Html.LabelFor(model => model.t_tc, "T.C. No:", htmlAttributes: new { @class = "control-label col-md-3" })
        <section class="col-md-7">
            <label class="input">
                @Html.Hidden("t_tc")
                @Html.Display("t_tc", (string) @ViewBag.t_tc)
                @*@Html.Editor("t_tc")*@
                @Html.ValidationMessageFor(model => model.t_tc, "", new {@class = "text-danger"})
            </label>
        </section>
    </div>


    <div class="row">
        @Html.LabelFor(model => model.t_bolumkodu, "Doktor Seç:", htmlAttributes: new { @class = "control-label col-md-3" })
        <section class="col-md-7">
            <label class="select">
                <i></i>
                @Html.DropDownList("t_bolumkodu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.t_bolumkodu, "", new { @class = "text-danger" })
            </label>
        </section>
    </div>

</fieldset>
        <footer >
            <div class="col-md-offset-3 col-md-7">
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </div>
        </footer>
    
}