@model WEINCDENTAL.Models.hst_vezne

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>hst_vezne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.t_odenen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_odenen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_kalan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_kalan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_createuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_createuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_odemetarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_odemetarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_createdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_his_hareket.t_createuser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_his_hareket.t_createuser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hst_odemetip.t_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hst_odemetip.t_adi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
