@model IEnumerable<WEINCDENTAL.Models.hst_vezne>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.t_odenen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_kalan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_createuser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_odemetarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_aktif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hst_his_hareket.t_createuser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hst_odemetip.t_adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.t_odenen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_kalan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_createuser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_odemetarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_createdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_aktif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hst_his_hareket.t_createuser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hst_odemetip.t_adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.t_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.t_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.t_id })
        </td>
    </tr>
}

</table>
